<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Profile</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
             <% if @user.avatar.present?%>
              <%= image_tag(@user.avatar.url(:thumb).to_s, :class => "is-rounded" )  %> 
            <% else %>
              <%= image_tag('ask-user.png', :class => "is-rounded") %>
          <% end %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= @user.name %></strong><br />
              <small><%= @user.username %></small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <div class="level is-mobile">
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Posts</p>
            <strong><%= answered_questions_count %></strong>
          </div>
        </div>
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Followers</p>
              <%= link_to @user.followers.count, followers_user_path(@user), class: "title is-6"%>
          </div>
        </div>
          <div class="level-item has-centered-text">
          <div>
            <p class="heading">Following</p>
              <%= link_to @user.following.count, following_user_path(@user), class: "title is-6"%>
          </div>
        </div>

        <div class="level-item has-centered-text">
          <div>
            <p class="heading"><%= render 'follow_form'%></p>  
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>



