<% if not current_user.present? %>
  <section class="section is-index">
    <div class="container is-widescreen">
      <div class="columns is-centered is-root">
        <figure class="image is-128x128">
         <%= image_tag('askgif.gif') %>
        </figure>
      </div>

      <h5 class="subtitle is-5">Curious? Just ask! <br/>Openly or anonymously.</h5>
  
      <div class="field">
        <div class="control is-index">
          <p> <%= link_to 'Sign In', new_user_session_path, class: "button is-medium is-signin" %></p> 
        </div>
      </div>        

     <div class="columns is-centered is-root">
        <p class="control">
        <%= link_to 'Sign Up', new_user_registration_path, class: "button is-medium is-signup" %></p>
      </div>
    </div>
  </section>
<% end %>

<div class="users-index"> 
  <h1 class="title-last-users">5 last joined users!</h1>
  <h2 class="subtitle is-2">Ask them some questions!</h2>
  <% if @users.any? %>
    <div class="users-list">
      <% @users.each do |user|%>
        <figure class="image is-128x128">
          <%= link_to user , class: "is-rounded" do %>
            <% if user.avatar.present?%>
              <%= image_tag(user.avatar.url(:thumb).to_s, :class => "is-rounded" )  %> 
            <% else %>
              <%= image_tag('ask-user.png', :class => "is-rounded") %>
            <% end %>
            <%= user.username%>
          <% end %>
        </figure>
      <% end%>
    </div>
  <% end %>
</div>

