<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        
        <h2 class="subtitle is-2">Hey, good to see you again!</h2>
    <h5 class="subtitle is-5">Sign in to get going. </h5>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), defaults: {label: false}) do |f| %>

          <div class="field">
            <div class="control">
              <%= f.input :email, required: false, input_html: { class: "input", placeholder: "Email"}, wrapper: false %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password, required: false, input_html: { class: "input", placeholder: "password"}, wrapper: false %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%#= f.input :remember_me, wrapper: false, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

         <div class="field">
      <div class="control">
        <%= f.button :submit, "Log In", class:"button is-medium is-fullwidth" %>
      </div>
    </div>
        <% end %>
        <br/>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
